/********** This CSS is written in SASS **********/
/* RESET **************************************************************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background-color: #222629;
  border: none; }
  button:hover, button:focus, button:active {
    outline: none; }

a:hover, a:focus, a:active {
  outline: none; }

/* VARIABLES ************************************************************************ */
/* Font - size */
/* Font - family */
/* Theme - colors */
/* MIXIN **************************************************************************** */
/* LAYOUT ***************************************************************************** */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

body {
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll; }

.box80 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.box20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.box40 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .box40 {
      display: none; } }
  @media only screen and (max-width: 420px) {
    .box40 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      height: 70vh;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.box60 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  color: lightgray;
  font-size: 32px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .box60 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      font-size: 32px;
      height: 100vh;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-top: 40px; } }
  @media only screen and (max-width: 420px) {
    .box60 {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      font-size: 24px;
      height: 30vh;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.box100 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.box50 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  padding: 0 20px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .box50 {
      padding: 0 5px; } }

.space {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media only screen and (min-width: 421px) and (max-width: 780px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    @important; } }

@media only screen and (max-width: 420px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    @important; } }

@media only screen and (min-width: 421px) and (max-width: 780px) {
  .order2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    @important; } }

@media only screen and (max-width: 420px) {
  .order2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    @important; } }

.hide-txt {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

/* MENU ***************************************************************************** */
.menu {
  width: 100%;
  min-width: 300px;
  background: #222629;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 20; }

.title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #87c232;
  font-weight: bold;
  margin: 0 10px; }
  @media only screen and (max-width: 420px) {
    .title {
      font-size: 24px; } }

.subtitle {
  font-family: "Caveat Brush", cursive;
  font-size: 24px;
  color: lightgray;
  margin: 0 10px; }
  @media only screen and (max-width: 420px) {
    .subtitle {
      font-size: 18px; } }

.icon {
  font-size: 40px;
  color: lightgray;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
  width: 40px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 420px) {
    .icon {
      font-size: 30px; } }

.submenu {
  width: 100%;
  min-width: 300px;
  background: #222629;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase; }
  .list li {
    color: lightgray; }
    @media only screen and (max-width: 420px) {
      .list li {
        padding-bottom: 10px; } }
  @media only screen and (max-width: 420px) {
    .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media only screen and (max-width: 420px) {
    .flags {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.outline:focus {
  outline: 2px dashed #87c232; }

/* Icon Down */
.icon:hover, .icon:focus {
  color: #87c232;
  -webkit-animation: hvr-icon-down 0.5s ease-out;
  animation: hvr-icon-down 0.5s ease-out; }

@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg); }
  25%,
  75% {
    -webkit-transform: translateY(6px) rotate(90deg);
    transform: translateY(6px) rotate(90deg); } }

/* Underline  */
.underline::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #87c232;
  margin: 2px auto;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s; }

.underline:hover::after, .underline:focus::after {
  width: 100%; }

/* Color */
.list li a:hover, .list li a:focus {
  color: #87c232; }

/* Slide submenu */
.menu-on {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px); }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .menu-on {
      -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
      transform: translateY(70px); } }
  @media only screen and (max-width: 420px) {
    .menu-on {
      -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
      transform: translateY(60px); } }

/* HERO ***************************************************************************** */
.hero-box {
  width: 100%;
  height: 100vh;
  min-width: 300px;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover; }

.mask {
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 38, 41, 0.8); }

.color {
  color: #87c232; }

@media only screen and (min-width: 421px) and (max-width: 780px) {
  #type-it {
    text-align: center; } }

@media only screen and (max-width: 420px) {
  #type-it {
    text-align: center; } }

.me {
  border-radius: 50%;
  width: 250px;
  height: 250px; }

/* ABOUT ME ***************************************************************************** */
.about-me {
  background-color: white;
  padding: 20px 0; }

.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #222629;
  font-weight: bold;
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-transform: uppercase; }

.center {
  text-align: center; }

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    figure {
      margin: 20px 0; } }
  @media only screen and (max-width: 420px) {
    figure {
      margin: 20px 0; } }

.cert {
  width: 90%;
  min-width: 500px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .cert {
      min-width: 400px; } }
  @media only screen and (max-width: 420px) {
    .cert {
      width: 100%;
      min-width: 300px; } }

.txt {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  line-height: 120%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .txt {
      font-size: 18px; } }

.bold {
  font-weight: bold;
  font-style: italic; }
  .bold:hover, .bold:focus {
    color: #87c232; }

.divider {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.star-big {
  font-size: 64px; }

.star-small {
  font-size: 32px; }

.tech {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; }
  .tech li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 5px 0;
    max-width: 300px; }

.skill-1 {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 80px #222629;
  float: right; }

.skill-2 {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 80px #222629;
  float: right; }

.skill-3 {
  margin: 0 10px;
  width: 30px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 70px #222629;
  float: right; }

.skill-4 {
  margin: 0 10px;
  width: 30px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 70px #222629;
  float: right; }

.skill-5 {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 80px #222629;
  float: right; }

.skill-6 {
  margin: 0 10px;
  width: 80px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 20px #222629;
  float: right; }

.skill-7 {
  margin: 0 10px;
  width: 60px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 40px #222629;
  float: right; }

.skill-8 {
  margin: 0 10px;
  width: 50px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 50px #222629;
  float: right; }

.skill-9 {
  margin: 0 10px;
  width: 60px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 40px #222629;
  float: right; }

.skill-10 {
  margin: 0 10px;
  width: 30px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 70px #222629;
  float: right; }

.skill-11 {
  margin: 0 10px;
  width: 40px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 60px #222629;
  float: right; }

.skill-12 {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: lightgray;
  border-left: solid 80px #222629;
  float: right; }

/* PROJECTS ***************************************************************************** */
.projects {
  background-color: white;
  padding: 20px 0; }

.projects__preview {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  max-width: 500px;
  height: 265px;
  padding: 20px;
  margin: 40px 0; }
  @media only screen and (max-width: 420px) {
    .projects__preview {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      height: auto;
      margin: 0 0; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .projects__preview {
      height: auto;
      margin: 20px 0; } }

.preview__img {
  width: 100%; }

.projects__description {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  padding: 20px;
  margin: 40px 0;
  height: 265px; }
  @media only screen and (max-width: 420px) {
    .projects__description {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      height: auto;
      margin: 0 0; } }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .projects__description {
      height: auto;
      margin: 20px 0; } }

.projects__title {
  width: 100%;
  font: 24px "Oswald", sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  padding-bottom: 20px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .projects__title {
      font-size: 18px; } }

.projects__txt {
  width: 100%;
  font: 24px "Oswald", sans-serif;
  color: black;
  line-height: 120%;
  font-weight: 300;
  padding-bottom: 20px; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .projects__txt {
      font-size: 18px; } }

.description__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  float: left;
  height: 40px;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 5; }
  @media only screen and (min-width: 421px) and (max-width: 780px) {
    .description__button {
      font-size: 18px; } }
  .description__button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #222629;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .description__button:hover, .description__button:focus, .description__button:active {
    color: #87c232; }
    .description__button:hover:before, .description__button:focus:before, .description__button:active:before {
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

/* Contact ***************************************************************************** */
.contact {
  background-color: #222629;
  padding-top: 20px; }

.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.green {
  color: #87c232;
  margin-bottom: 10px; }

.cv {
  background: none;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  color: #87c232;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: solid 2px #87c232;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .cv:hover, .cv:focus {
    color: #222629;
    background: #87c232;
    border: solid 2px #87c232; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.media-icon {
  width: 48px;
  height: 48px;
  padding: 10px; }

.focus {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .focus:hover, .focus:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.form {
  width: 90%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media only screen and (max-width: 420px) {
    .form {
      min-width: 300px; } }

.input-area {
  width: 95%;
  height: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  border: solid 2px #6a6e71;
  background: none;
  margin: 10px;
  padding: 10px; }
  .input-area::-webkit-input-placeholder {
    color: #6a6e71; }
  .input-area:-ms-input-placeholder {
    color: #6a6e71; }
  .input-area::-ms-input-placeholder {
    color: #6a6e71; }
  .input-area::placeholder {
    color: #6a6e71; }

.form-button {
  width: 100%;
  height: 60px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #87c232;
  background: none;
  cursor: pointer;
  border: solid 2px #87c232;
  margin: 10px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .form-button:hover, .form-button:focus {
    color: #222629;
    background: #87c232;
    border: solid 2px #87c232;
    outline: none; }

.input-area:focus {
  outline: none; }

#message {
  height: 120px; }

.footer {
  background-color: #222629;
  padding-top: 20px; }

.footer-txt {
  width: 100%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 20px;
  border-top: solid 2px #87c232;
  text-align: center; }

/* Animations */
input:focus + .underline-left {
  width: 100%; }

textarea:focus + .underline-left {
  width: 100%; }

.underline-left {
  position: relative;
  top: -12px;
  left: 0;
  width: 0;
  background-color: #87c232;
  display: inline-block;
  height: 2px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
