.projects {
  background-color: $white;
  padding: 20px 0;
}

.projects__preview {
  flex: 1 1 40%;
  max-width: 500px;
  height: 265px;
  padding: 20px;
  margin: 40px 0;

  @include mobile {
    flex: 1 1 100%;
    height: auto;
    margin: 0 0;
  }

  @include tablet {
    height: auto;
    margin: 20px 0;
  }
}

.preview__img {
  width: 100%;
}

.projects__description {
  flex: 1 1 40%;
  padding: 20px;
  margin: 40px 0;
  height: 265px;

  @include mobile {
    flex: 1 1 100%;
    height: auto;
    margin: 0 0;
  }

  @include tablet {
    height: auto;
    margin: 20px 0;
  }
}

.projects__title {
  width: 100%;
  font: $large $primary;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  padding-bottom: 20px;

  @include tablet {
    font-size: $medium;
  }
}

.projects__txt {
  width: 100%;
  font: $large $primary;
  color: black;
  line-height: 120%;
  font-weight: 300;
  padding-bottom: 20px;

  @include tablet {
    font-size: $medium;
  }
}

.description__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  height: 40px;
  color: black;
  font-family: $primary;
  font-size: $large;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 5;

  @include tablet {
    font-size: $medium;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $black;
    transform: scaleY(0);
    transition: all 0.3s ease-out;
    transform-origin: top;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color;

    &:before {
      transform: scaleY(1);
      transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    }
  }
}
