/* Font - size */

$small: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 32px;
$epic: 48px;
$jumbo: 64px;

/* Font - family */

$primary: 'Oswald', sans-serif;
$secondary: 'Caveat Brush', cursive;

/* Theme - colors */

$white: rgb(255, 255, 255);
$black: rgb(34, 38, 41);
$darkgray: rgb(106, 110, 113);
$gray: lightgray;
$color: rgb(135, 194, 50);




